@model VisitorSystem.Entities.Dtos.UserDto.UserUpdateDto
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Profil Düzenle";
}
<div class="row" >
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-edit"></span> Profil Düzenle</h4>
            </div>
            <div class="card-body">
                <form asp-controller="User" asp-action="ChangeDetails" enctype="multipart/form-data" method="post" id="form-user-update">
                    <div asp-validation-summary="All" id="validation_summery"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName" />
                        <span class="text-danger" asp-validation-for="UserName"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control" asp-for="PhoneNumber" />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input asp-for="Picture" type="hidden" />
                        <img class="my-image-table" src="~/img/@Model.Picture" alt="@Model.UserName" />


                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input type="file" accept="image/*" class="form-control-file" asp-for="PictureFile" />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"><span class="fas fa-save"></span> Kaydet</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span> İptal</a>                    

                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
